@using Microsoft.AspNet.Identity
@model List<LoseItSharp.Models.Match>

@{
    ViewBag.Title = "Matches";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All Matches</h2>
<div class="row">
    <div id="resultMessage" class="alert-warning">@ViewBag.Message</div>
</div>
<table class="table  table-borderless table-bordered table-hover dt-responsive" id="tableMatches" width="100%">
    <thead class="">
        <tr>
            <td>Match Name</td>
            <td>Start Date</td>
            <td>End Date</td>
            <td>Join</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var match in Model)
        {
            var hideBtn = false;
            <tr>
                <td>@Html.ActionLink(match.MatchName, "Details", "Match", new { @Id = match.Id }, new { @class = "" })</td>
                <td>@match.MatchStart.ToShortDateString()</td>
                <td>@match.MatchEnd.ToShortDateString()</td>

                @foreach (var participant in match.Participants)
                {
                    if (participant.ApplicationUserId == User.Identity.GetUserId())
                    {
                        hideBtn = true;
                    }
                }
                <td><button class="btn btn-outline-primary btnJoin" data-matchId=@match.Id hidden=@hideBtn>Join</button></td>
            </tr>
        }
    </tbody>
</table>


@section Scripts{
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
    <script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/plug-ins/1.10.12/sorting/datetime-moment.js"></script>
    

    <script>
        $(document).ready(function () {
            $.fn.dataTable.moment('M/D/YYYY');

            $('#tableMatches').DataTable({
                "order": [[1, "asc"]]
            });

            $('.btnJoin').click(function () {
                var button = $(this);
                $.ajax({
                    url: "/match/join/" + button.attr("data-matchId"),
                    type: 'POST',
                    cache: 'false',
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        $('#resultMessage').html(data);
                    }
                });
            });
        });

    </script>
}