@using Microsoft.AspNet.Identity
@model List<LoseItSharp.Models.Match>

@{
    ViewBag.Title = "Matches";
Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Available Matches</h2>
<div class="row">
    <div id="resultMessage" class="alert-warning">@ViewBag.Message</div>
</div>
<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <td>Match Name</td>
            <td>Start Date</td>
            <td>End Date</td>
            <td>Join</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var match in Model)
        {
            var hideBtn = false;
            <tr>
                <td>@Html.ActionLink(match.MatchName, "Details", "Match", new { @Id = match.Id }, new { @class = "" })</td>
                <td>@match.MatchStart.ToShortDateString()</td>
                <td>@match.MatchEnd.ToShortDateString()</td>

                @foreach (var participant in match.Participants)
                {
                    if (participant.ApplicationUserId == User.Identity.GetUserId())
                    {
                        hideBtn = true;
                    }
                }
                <td><button class="btn btn-outline-primary btnJoin" data-matchId=@match.Id hidden=@hideBtn>Join</button></td>
            </tr>
        }
    </tbody>
</table>


@section Scripts{
    <script>
        $(document).ready(function () {

            $('.btnJoin').click(function () {
                var button = $(this);
                $.ajax({
                    url: "/match/join/" + button.attr("data-matchId"),
                    type: 'POST',
                    cache: 'false',
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        $('#resultMessage').html(data);
                    }
                });
            });
        });

    </script>
}